.main {
    position: relative;
    height: calc(100vh + 85px);
    @media (max-width:800px){
          height: 100vh;
    }
    // aspect-ratio: 1440/810;
   
    // .main__container

    // &__container {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 23px;
    //     pointer-events: none;
        
    // }

  

		// .main__slide

		&__slide {
            transition: all 0.3s ease 0s;
        padding-top: 100px;
        height: calc(100vh + 85px);
        overflow: hidden;
        background-color: grey;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
          @media (max-width:800px){
              height: 100vh;
          }
            &--services{
                background-image: url('/img/sl1.png');
               
            }
            &--species{
                background-image: url('/img/sl2.png');
            }
            &--design{
                background-image: url('/img/sl3.png');
            }
            &--repair{
                background-image: url('/img/sl4.png');
            }   
        }
        &__btn-block{
            width: 207px;
            height: 40px;
            position: absolute !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 29;
          
            &::before{
                content:'';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -10px;
                width: 20px;
                height: 1px;
                background-color: rgb(255, 255, 255);
            }
            .triger{
                color: rgb(255, 255, 255);
               
            }
        }

		// .main__header

		&__header {
            text-align: center;
            z-index: 10;
            position: relative; 
        }

		// .main__title

		&__title {
           @media (max-width:800px){
              font-size: 28px;
           }
            font-family: Gilroy;
            font-size: 60px;
            font-weight: 800;
            line-height: 72 / 60 * 100%;
            text-align: center;
            color: transparent;
            -webkit-text-stroke: 1px white;

            span{
                color: rgb(255, 255, 255);
            }
        }



        &__item{
            height: calc(100vh + 85px);
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            padding-bottom: 80px;   
                z-index: 5;  
                @media (max-width:800px){
                      display: none;
                }  
        }


		// .main__list

		&__list {
            display: flex;
           width: 100%;
           height: 100%;
          
        }

		// .main__li

		&__li {
            
            transition: all 0.6s ease 0s;
           position: relative;
           min-height: 150px;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           margin-top: auto;
            pointer-events: all;
            width: 25%;
            color: rgb(255, 255, 255);
            font-family: Gilroy;
            font-size: 20px;
            font-weight: 800;
            line-height: 25px;            
            text-align: center;
            border-top: 1px solid rgb(235, 235, 235,0.3);
            border-bottom: 1px solid rgb(235, 235, 235,0.3);
            // border-right: 1px solid rgb(235, 235, 235);
            // border-left: 1px solid rgb(235, 235, 235);
            z-index: 10;
            padding: 30px 0px 30px 0px;
           
            cursor: pointer;
           &::before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: rgb(235, 235, 235);
            opacity: .3;
           }
           &::after{
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: rgb(235, 235, 235);
            opacity: .3;
           }
            // &:last-child{
            //     border-right: 0px solid rgb(235, 235, 235);
            // }
          

            &.active{    
                &:nth-child(1){
                   /* Red */
                    background: rgb(235, 87, 87);
                }
                &:nth-child(2){
                   /* Green 1 */
                    background: rgb(33, 150, 83);
                }
                &:nth-child(3){
                    background: rgb(47, 128, 237);
                }
                &:nth-child(4){
                   /* Purple 1 */
                    background: rgb(155, 81, 224);
                }
    
                      
                min-height: 100%;
                padding: 30px 0px 20px 0px;
                justify-content: end;
              cursor:default;
              .main__subRed{
                display: block;
                margin-top: 16px;
              }
            }           
        }

        &__subRed{
            display: none;
            a{
                width: 40px;
                height: 40px;
                // border: 1px solid black;
                // border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 60px auto 0px auto;
            }
        }
		// .main__btn

		&__btn {
            display: flex;
            justify-content: center;
            
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            &--mobile{
                display: none;
                @media (max-width:800px){
                      display: block;
                }
            }
        }
      
        
       
        
}
// ===================
.btn {
    border-radius: 50%;
    border: 1px solid rgb(235, 235, 235, 0.3);
    width: 40px;
    height: 40px;
    background-color: transparent;
  
}


.fade{
    animation: anim;
    animation-duration: 0.2s;
    @keyframes anim {
        0%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
}		

// ====================

.examples {
    padding-top: 136px;

        &__title{
            color: rgb(34, 34, 34);
            font-family: Gilroy;
            font-size: 32px;
            font-weight: 800;
            line-height: 40px;
            letter-spacing: 1.5px;
            margin-bottom: 48px;
            span{
                color: transparent;
                -webkit-text-stroke: 1px black;
            }
            position: relative;
            &::before{
                content:'';
                position: absolute;
                top: 50%;
                left: -80px;
                transform: translateY(-50%);
                width: 40px;
                height: 1px;
                /* Black */
                background: rgb(34, 34, 34);
            }
        }
  

		// .examples__grid

		&__grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 270px);
            grid-gap: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            grid-template-areas: 
                "wide1 wide1 wide1 wide1 product1 product1"
                "wide2 wide2 wide3 wide3 product1 product1"
                "product2 product2 wide4 wide4 wide5 wide5"
                "product2 product2 product3 product3 product3 product3"
            ;
            @media (max-width:800px){
                grid-template-columns: 1fr;
                grid-auto-rows: 270px;
                grid-template-areas: 
                "wide1" 
                "wide2"
                "wide3"
                "wide4"
                "wide5"
                "product1"
                "product2"
                "product3"
            ; 
            }
        }
        @media (max-width:800px){
            .left-top{
                grid-area: wide1;
            }
            .right-full{
                grid-area: wide2;
            }
            .left-botomOne{
                grid-area: wide3;
            }
            .left-botomTwo{
                grid-area: wide4;
            }
            .left-full{
                grid-area: wide5; 
            }
            .right-topOne{
                grid-area: product1;
            }
            .right-topTwo{
                grid-area: product2;
            }
            .right-bottom{
                grid-area: product3;
            }
        }
        .left-top{
            grid-area: wide1;
        }
        .right-full{
            grid-area: product1;
        }
        .left-botomOne{
            grid-area: wide2;
        }
        .left-botomTwo{
            grid-area: wide3;
        }
        .left-full{
            grid-area: product2; 
        }
        .right-topOne{
            grid-area: wide4;
        }
        .right-topTwo{
            grid-area: wide5;
        }
        .right-bottom{
            grid-area: product3;
        }
        &__block {
            position: relative;
            &::before{
                content:'';
                transition: all 0.3s ease 0s;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0) 100%),rgba(0, 0, 0, 0.1);
            }
            
            &:hover{
                &::before{
                    content:'';
                     background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0) 100%),rgba(0, 0, 0, 0.6);
                }
                .examples__option{
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

       

            // .examples__option
    
            &__option {
                position: absolute;
                bottom: 32px;
                left: 32px;
                display: flex;
                align-items: center;
                gap: 32px;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: all 0.3s ease 0s;
            }
    
            // .examples__item
    
            &__item {}
    
            // .examples__term
    
            &__term {
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 10px;
                font-weight: 500;
                line-height: 12px;
                margin-bottom: 8px;
            }
    
            // .examples__date
    
            &__date {
                       /* H4 */
            color: rgb(255, 255, 255);
            font-family: Gilroy;
            font-size: 14px;
            font-weight: 800;
            line-height: 20px;
            
            }
    
            // .examples__price
    
            &__price {
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 10px;
                font-weight: 500;
                line-height: 12px;
                margin-bottom: 8px;
            }
    
            // .examples__data
    
            &__data {
                           /* H4 */
            color: rgb(255, 255, 255);
            font-family: Gilroy;
            font-size: 14px;
            font-weight: 800;
            line-height: 20px;
        
            }
    
    

        &__name{
            position: absolute;
            top: 32px;
            left: 32px;
            color: rgb(255, 255, 255);
            font-family: Gilroy;
            font-size: 20px;
            font-weight: 800;
            line-height: 24px;
            
        }

        &__btn-block{
            margin: 64px auto 0px auto;
            &::before{
                content:'';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -10px;
                width: 20px;
                height: 1px;
                background-color: rgb(34, 34, 34);
            }
        }

}


.contact {
    padding-top: 136px;
    // .contact__container

    &__container {}

    // .contact__title

    &__title {
        color: rgb(34, 34, 34);
        font-family: Gilroy;
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
        margin-bottom: 48px;
        span{
            color: transparent;
            -webkit-text-stroke: 1px black;
        }
        position: relative;
        &::before{
            content:'';
            position: absolute;
            top: 50%;
            left: -80px;
            width: 40px;
            height: 1px;
            transform: translateY(-50%);
            background-color: rgb(34, 34, 34);
        }
    }

    // .contact__flex

    &__flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        @media (max-width:800px){
            grid-template-columns: 1fr;
        }
    }

    // .contact__item

    &__item {}

    // .contact__list

    &__list {
        margin-bottom: 48px;
    }

    // .contact__li

    &__li { 
        color: rgb(34, 34, 34);
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
      
       
        &--color{
            color: rgb(34, 34, 34);
            font-family: Gilroy;
            font-size: 14px;
            font-weight: 800;
            line-height: 20px;
            margin-bottom: 8px;
        }
    }


    // .contact__subblock

    &__subblock {}

    // .contact__subtitle

    &__subtitle {
            /* H4 */
        color: rgb(34, 34, 34);
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        margin-bottom: 15px;
    }

    // .contact__icon

    &__icon {}

    // .contact__item--form

    &__item--form {}

    // .contact__block

    &__block {
            position: relative;
            margin-top: 20px;
            border-bottom: 1px solid rgb(235, 235, 235);
        //    &:nth-child(3){
        //     margin-bottom: 15px;
        //    }
            
            label{
                    /* Small */
            color: rgb(34, 34, 34);
            font-family: Montserrat;
            font-size: 9px;
            font-weight: 500;
            line-height: 12px;
            
            }
            input{
            display: block;
            width: 100%;
            color: rgb(144, 144, 144);
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            padding: 5px 0px;
            // border-bottom: 1px solid rgb(235, 235, 235);
            transition: all 0.3s ease 0s;
            // &:focus{
            //     border-bottom: 1px solid rgb(34, 34, 34);
            // }
            }
           
            textarea{
                display: block;
                width: 100%;
                color: rgb(144, 144, 144);
                font-family: Montserrat;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
                padding: 5px 0px 5px 0px;
                max-height: 34px;
                resize: none;
                               
                // border-bottom: 1px solid rgb(235, 235, 235);
                transition: all 0.3s ease 0s;
                // &:focus{
                //     border-bottom: 1px solid rgb(34, 34, 34);
                // }
            }
            textarea:focus + .contact__clip svg {            
                fill: rgb(34, 34, 34);
            }
            textarea::-webkit-scrollbar {
                display: none;
            }
    }

    &__check-block{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__done{
        display: none;
    }
    &__false{
        display: none;
    }

    &__number-error{
        display: none;
        color: red;
    }
    &__email-error{
        color: red;  
        display: none;
    }

    // .contact__subtext

    &__subtext {
            /* Small */
        color: rgb(144, 144, 144);
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        margin-top: 20px;
       a{
        color: rgb(34, 34, 34);
        position: relative;
        // padding-bottom: 2.5px;
        // border-bottom: 1px dotted black;
        &::after{
            content:
                    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
                ;
           position: absolute;
           top: 6px;
           left: 0;
           width: 100%;
           height: 1px;
           
        }
       }
    }

    // .contact__btn-block

    &__btn-block {
        
        margin-top: 30.5px;
        &::before{
            content:'';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            width: 20px;
            height: 1px;
            background-color: rgb(34, 34, 34);
        }
   
    }

   

		// .contact__clip

		&__clip {
           
            width: 18px;
            height: 18px;
            background-color: transparent;
            
            svg{
                transition: all 0.3s ease 0s;
                fill: #909090;
            }
        }
       
       &__block-item{
            display: flex;
            justify-content: flex-end;
            position: relative;
            
            
       }
        &__tool{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 10px;
            border-top-right-radius: 0px;
            background: rgb(34, 34, 34);          
            
           transition: all 0.3s ease 0s;
           position: relative;
           &::after{
            content:'';
                position: absolute;
                top: -16px;
                right: 0px;
                width: 18px;
                height: 16px;
                background-color: white;
                border-radius: 10px;
                display: none;
           }
           &::before{
            content:'';
            position: absolute;
            top: -9px;
            right: 0;
            width: 10px;
            height: 9px;
            background-color: rgba(34, 34, 34);
            display: none;
           }
            &.active{                
                transition: all 0.1s ease 0s;
                padding: 20px 20px;
                margin-top: 16px;

                &::after{
                    content:'';
                        display: block;
                   }
                   &::before{
                    content:'';
                        display: block;
                   }
                .contact__block-file{
                    display: block;
                }
                .contact__img{
                    display: block;
                }
                .contact__p{
                    display: flex;
                }
            }
        }
        &__img{
            display: none;
            width: 26px;
            height: 26px;
            object-fit: cover;
            border-radius: 5px;
        }
        &__p{
            width: 26px;
            height: 26px;
            color: rgb(34, 34, 34);
            font-family: Gilroy;
            font-size: 10px;
            font-weight: 800;
            text-transform: uppercase;
            border-radius: 5px;
            background: rgb(255, 255, 255);
            display: none;
            align-items: center;
            justify-content: center;
            
        }
        &__block-file{  
            display: none;          
            width: 26px;
            height: 26px;
            border: 1px dashed rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            position: relative;
            color: white;
            font-size: 20px;
            cursor: pointer;
            &::before{
                content:'+';
                
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__file{
            position: absolute;
            top: 0;
            left: 0;
            width: 1%;
            height: 1%;
            // z-index: 20;           
            background-color: transparent;
            opacity: 0;            
            pointer-events: all;
        }

    
}
.btn-blockAnim{
    position: relative;
    max-width: 260px;
    height: 40px;
    &__small{
        position: absolute;
        bottom: 50%;
        left: 0;
        width: 0.5px;
        height: 0;
        background-color: rgb(34, 34, 34);
        animation: smallborder;
       } 
       @keyframes smallborder {
        0%{
            // right: 0;
            height: 0; 
        }
        100%{
            height: 50%;
        }
       }
       &__top{
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: rgb(34, 34, 34);
        animation: topborder;
        
       }
       @keyframes topborder {
        0%{
            // right: 0;
            width: 0;
        }
        100%{
            left: 0;
            width: 100%;
        }
       }
       &__right{
        position: absolute;
        top: 0;
        right: 0px;
        height:0;
        width: 1px;
        background-color: rgb(34, 34, 34);
        animation: rightborder;
        
       }
       @keyframes rightborder {
        0%{
            // right: 0;
            height:  0;
        }
        100%{
            
            height: 100%;
        }
       }
       &__bottom{
        position: absolute;
        bottom: 0;
        right: 0px;
        height:0.5px;
        width: 0;
        background-color: rgb(34, 34, 34);
        animation: bottomborder;
        
       }
       @keyframes bottomborder {
        0%{
            // right: 0;
            width: 0;
        }
        100%{
            
            width: 100%;
        }
       }
       &__left{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 0.5px;
        background-color: rgb(34, 34, 34);
        animation: leftborder;
        
       }
       @keyframes leftborder {
        0%{
            // right: 0;
            height: 0;
        }
        100%{
            
            height:100%;
        }
       }
        
        button{
            width: 100%;
            height: 100%;
            // padding: 10px 0px;
                /* H4 */
            color: rgb(34, 34, 34);
            font-family: Gilroy;
            font-size: 14px;
            font-weight: 800;
            line-height: 20px;
            background-color: transparent;
            border: 1px solid rgba(34, 34, 34, 0.3);
        }
}













































