//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "header";
@import "home";
@import "footer";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

.wrapper {
width: 100%;
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.page {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}
//<Адаптив сетка>===========================================================================================================

._container {
	max-width: 1120px;
	margin: 0px auto;
	padding: 0px 10px 0px 10px;
	@media (max-width: 1130px) {
		max-width: 950px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 768px) {
		max-width: none;
		padding: 0px 10px;
	}
}
//======================
  

